body {
	background-color:#99CCFF;
	font-family: Verdana, Geneva, sans-serif;
}

#formularz {
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        width:500px; /* ustawiamy szeroko�� formularza */
        margin:0 auto; /* je�eli nasz formularz ma ustawion� szeroko�� wy�rodkowujemy go */
        background-color:#CCFF99; /* dodajemy kolor t�a naszemu formularzowi */
        border:2px solid #009966; /* dodajemy obramowanie o szeroko�ci 2px */
        border-radius:10px; /* zaokr�glamy t�o naszego formularza */
		padding:20px; /* dodajemy margines wewn�trz naszego formularza */
        margin-top:20px; /* dodajemy margines g�rny naszego formularza */
}

#formularz input#submit {
	width: 100px;
	margin:0 auto;
}

powitanie {
	color: #000033;
	text-align: right;
}

#menu {
	background-color: #ddd;
	border-width: 1px 0;
	border-style: solid;
	border-color: gray;
	padding: 3px 5%;
	margin: 0;
}

#menu li {
	display: inline;
	border-right: 1px solid gray;
	padding: 0 10px;
}

#menu a {
	color: #666;
	font: bold 0.8em Arial, sans-serif;
	text-decoration: none;
}

#menu a:hover {
	color: #333;
}

#dodaj_do_bazy {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width: 600px;
	background-color:#CCFF99;
	margin:0 auto;
	border:2px solid #009966;
	border-radius:10px;
	padding:20px;
	margin-top:20px;
	
}

#dodaj_do_bazy input#text {
	width: 100%;
}

#dodaj_do_bazy input#submit {
	width: 100px;
	margin:0 auto;
}

#tabela {
	border: 1px solid black;
}